{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <img src="/img/work/social3.jpg" alt="database", style="display: block; margin-left: auto; margin-right: auto; width: 70%; height: 300px;">
    </div>
  </div>
</section>

<section id="clients-logo-section">
  <div class="container">
    <div class="row" style="width: 50%; display: block; margin-left: auto; margin-right: auto; width: 70%;">
      <p> {{ $data.socialmedia.paragraph }} </p>
          {{ range $data.socialmedia.content }}
              <ul>
                <li> <p> &#8226; {{ .topic }} </p> </li>
              </ul>  
          {{ end }}
    </div>
  </div>
</section>

{{ partial "call-to-action.html" .Site.Data.work.call }}
