{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section id="clients-logo-section">
  <div class="container">
    <div class="row" style="width: 50%; display: block; margin-left: auto; margin-right: auto; width: 70%;">
      <h2> {{$data.termsandconditions.title}} </h2>
      <p> {{ $data.termsandconditions.paragraph }} </p>
          {{ range $data.termsandconditions.content }}
              <ul>
                <li> <p> &#8226; {{ .topic }} </p> </li>
              </ul>  
          {{ end }}
    </div>
  </div>
</section>

{{ partial "call-to-action.html" .Site.Data.work.call }}
